.experienceContainer {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 3.5vw);
  margin-left: 5vw;
  margin-right: 5vw;
}

.experienceContainer h1 {
  font-size: 4vw;
  grid-row: 1;
  grid-column: 2/5;
}

.experienceTemplate-container:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
  justify-self: start;
}

.experienceTemplate-container:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
  justify-self: start;
}

.experienceTemplate-container:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 10;
  justify-self: start;
}

.experienceTemplate-container:nth-child(5) {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 10;
  justify-self: start;
}
 
