:root {
  --row-1: 5;
  --row-2: 10;
}

.skillsContainer {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 3.5vw);
  margin-left: 20vw;
  margin-right: 20vw;
  place-items: center;
}

.skillsContainer div:hover {
  transform: scale(1.1);
}

.skillsContainer h1 {
  font-size: 4vw;
  grid-row: 1;
  grid-column: 2 / 5 ;
}

.skillsContainer p{
  font-size: 2vw;
  margin-top: 10px;
}

.pythonLogo {
  grid-row-start: var(--row-1);
  grid-column-start: 1;
}

.dockerLogo {
  grid-row-start: var(--row-1);
  grid-column-start: 2;
}

.mysqlLogo {
  grid-row-start: var(--row-1);
  grid-column-start: 3;
}

.javascriptLogo {
  grid-row-start: var(--row-1);
  grid-column-start: 4;
}

.typescriptLogo {
  grid-row-start: var(--row-1);
  grid-column-start: 5;
}

.flaskLogo {
  grid-row-start: var(--row-2);
  grid-column: 1;
}

.reactLogo {
  grid-row-start: var(--row-2);
  grid-column: 2;
}

.htmlLogo {
  grid-row-start: var(--row-2);
  grid-column: 3;
  width: 5.5vw !important;
}

.cssLogo {
  grid-row-start: var(--row-2);
  grid-column: 4;

}

.appsmithLogo {
  grid-row-start: var(--row-2);
  grid-column: 5;
}

.skillsContainer img{
  display: inline;
  width: 6vw;
}

.pythonLogo,
.dockerLogo,
.mysqlLogo,
.javascriptLogo,
.typescriptLogo,
.flaskLogo,
.reactLogo,
.htmlLogo,
.cssLogo,
.appsmithLogo {
  align-self: end;
}
