@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  background-color: #2b2b2b;
}

* {
  margin: 0;
  font-family: Rubik;
  color: #ffffff;
}

.borderHome {
  height: 2px;
  margin: 2vw auto;
  margin-bottom: 4vw;
  width: 90%;
}


.educationImage {
  left: 50%;
  transform: translateX(-50%);
  height: 30vw;
  display: block;
}

